{% extends 'base.html' %}

{% block content %}
<div class="container">
        <h1 class="text-center">Squirrels Sightings</h1>
    <a href="{% url 'maps:sighting_create' %}" class="btn btn-primary">Create Sighting</a>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Unique Squirrel ID</th>
                <th>Date</th>
                <th>Link to unique squirrel sighting</th>
            </tr>
            </thead>
            <tbody>
            {% for sight in ls.object_list %}
                <tr>
                <td>{{ sight.unique_squirrel_id }}</td>
                <td>{{ sight.date|date:'m/d/Y' }}</td>
                <td>
                    <a href="" class="btn btn-primary">View Detail</a>
                </td>
                </tr>
            {% empty %}
                <tr>
                <td colspan="3">No Data.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    <nav aria-label="Page navigation">
  <ul class="pagination">
    <li class="page-item{% if 1 == page %} disabled{% endif %}">
      <a class="page-link" href="{% if ls.has_previous %}{{ request.path }}?page={{ ls.previous_page_number }}&per_page={{ per_page }}{% else %}#{% endif %}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
  {% for pn in page_no_ls %}
      <li class="page-item{% if page == pn %} active{% endif %}"><a class="page-link" href="{% if page == pn %}#{% else %}{{ request.path }}?page={{ pn }}&per_page={{ per_page }}{% endif %}">{{ pn }}</a></li>
  {% endfor %}
    <li class="page-item{% if ls.paginator.num_pages == page %} disabled{% endif %}">
      <a class="page-link" href="{% if ls.has_next %}{{ request.path }}?page={{ ls.next_page_number }}&per_page={{ per_page }}{% else %}#{% endif %}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
    </div>
{% endblock %}