{% extends 'bootstrap4/bootstrap4.html' %}
{% load static %}
{% block bootstrap4_title %}
    {% if title %}
        {{ title }}
    {% else %}
        Finding Squirrels
    {% endif %}
{% endblock bootstrap4_title %}

{% block bootstrap4_extra_head %}
    {% block metas %}
    {% endblock %}
    {% block style %}{% endblock style %}
{% endblock bootstrap4_extra_head %}

{% block bootstrap4_before_content %}
<header>{% block nav %}{% endblock nav %}</header>
{% block messages %}
    {% load bootstrap4 %}
    {% if messages %}
    <div class="container">
    {% bootstrap_messages %}
    </div>
    {% endif %}
{% endblock messages %}
{% block ads %}{% endblock ads %}
{% endblock %}

{% block bootstrap4_content %}{% block content %}{% endblock content %}{% endblock %}
{% block bootstrap4_after_content %}{% block footer %}{% endblock footer %}{% endblock %}


{% block bootstrap4_extra_script %}
    {% block script %}{% endblock %}
{% endblock %}